body {
  background-image: url(./login.jpg);
  background-size: cover;
  margin: 0%;
}

header {
  height: 75px;
  float: left;
  width: 7%;
}

img {
    margin-left: 15px;
    margin-top: 10px;
  }
.name {
  display: inline-block;
  color: antiquewhite;
  font-size: 40px;
  font-family: "Open Sans Condensed", sans-serif;
  font-family: "Oswald", sans-serif;
  font-family: "Yuji Boku", serif;

  margin-top: 15px;
}
nav {
  width: 50%;

  float: right;
  height: 75px;
  text-align: center;
  padding-top: 20px;
  padding-left: 35px;
  margin-left: 15px;
}
a {
    text-decoration: none;
    color: bisque;
    font-family: "Open Sans Condensed", sans-serif;
    font-family: "Oswald", sans-serif;
    margin-left: 20px;
    margin-top: 25px;
  }
  

.section1 {
  width: 50%;

  height: 600px;
  float: left;
  
}
.sec1-div {
  font-size: larger;

  color: antiquewhite;
  font-size: 35px;
  margin-left: 60px;
  margin-top: 170px;
}
.section2{
  
  float: right;
  width: 50%;
  display:inline-block;
}


button {
  width: 222px;
  height: 30px;
  background-color: transparent;
  border: 2px solid white;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  color: aliceblue;
}
.button1 {
  padding: 6px;
  border-radius: 6px;
  width: 120px;
  border: 2px solid white;
  margin-left: 5px;
  opacity: 2;
  background-color: transparent;
}




input[placeholder]{
  display: block;
  width: 250px;
  margin-top: 45px;
  height: 25px;
  margin-left: 75px;
  border: 2px solid white;
  background-color: transparent;
  
}

div>button{

  display: block;
  width: 250px;
  margin-top: 45px;
  margin-left: 79px;

}

form >div{

  height:450px;
  width: 400px;
  text-align: center;
  opacity:0.9;
  
  display:inline-block;
  margin-left: 150px;
  margin-top: 65px;
  color: aliceblue;
  background-color:#4df080;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
  


[name="check"]{
  margin-top: 25px;
  
}

button:hover{
  background-color: aqua;
}

span:hover{
  font-size: 60px;
}

p{
  display:inline;
}

footer>div>h1{
  margin-top: 85px;
}